<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射文件 配置-->
<!-- namespace 的值是一个接口
每个Mapper 接口对应一个配置文件  -->
<mapper namespace="com.company.demo.mapper.CostMapper">
    <!-- 注意resultType 的值是List中元素类型
	 结果集行映射的数据类型-->
    <select id="findAll" resultType="com.company.demo.entity.Cost">
        SELECT * FROM cost
    </select>

</mapper>